@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="text-center">
    <h1 class="display-4">Welcome to UON Loan App</h1>
    <p class="lead">This is a simple loan management application</p>
    <a href="/loanservice" class="btn btn-primary">View Loans</a>
</div>